In [2]:
import pandas as pd
import numpy as np

In [4]:
movies_df = pd.read_csv("E:/datasets/ml-latest-small/ml-latest-small/movies.csv",usecols=['movieId','title'],dtype={'movieId': 'int32', 'title': 'str'})

In [6]:
rating_df=pd.read_csv('E:/datasets/ml-latest-small/ml-latest-small/ratings.csv',usecols=['userId', 'movieId', 'rating'],
    dtype={'userId': 'int32', 'movieId': 'int32', 'rating': 'float32'})

In [8]:
movies_df.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [10]:
rating_df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [14]:
df = pd.merge(rating_df, movies_df, on ='movieId')
df

        userId  movieId  rating                                     title
0            1        1     4.0                          Toy Story (1995)
1            5        1     4.0                          Toy Story (1995)
2            7        1     4.5                          Toy Story (1995)
3           15        1     2.5                          Toy Story (1995)
4           17        1     4.5                          Toy Story (1995)
5           18        1     3.5                          Toy Story (1995)
6           19        1     4.0                          Toy Story (1995)
7           21        1     3.5                          Toy Story (1995)
8           27        1     3.0                          Toy Story (1995)
9           31        1     5.0                          Toy Story (1995)
10          32        1     3.0                          Toy Story (1995)
11          33        1     3.0                          Toy Story (1995)
12          40        1     5.0                          Toy Story (1995)
13          43        1     5.0                          Toy Story (1995)
14          44        1     3.0                          Toy Story (1995)
15          45        1     4.0                          Toy Story (1995)
16          46        1     5.0                          Toy Story (1995)
17          50        1     3.0                          Toy Story (1995)
18          54        1     3.0                          Toy Story (1995)
19          57        1     5.0                          Toy Story (1995)
20          63        1     5.0                          Toy Story (1995)
21          64        1     4.0                          Toy Story (1995)
22          66        1     4.0                          Toy Story (1995)
23          68        1     2.5                          Toy Story (1995)
24          71        1     5.0                          Toy Story (1995)
25          73        1     4.5                          Toy Story (1995)
26          76        1     0.5                          Toy Story (1995)
27          78        1     4.0                          Toy Story (1995)
28          82        1     2.5                          Toy Story (1995)
29          86        1     4.0                          Toy Story (1995)
...        ...      ...     ...                                       ...
100806     610   129313     4.0                            Reality (2014)
100807     610   130050     3.0              Digging Up the Marrow (2014)
100808     610   130052     3.5                              Clown (2014)
100809     610   130840     4.5                             Spring (2015)
100810     610   133832     3.5                  The Green Inferno (2014)
100811     610   135534     3.5                            Krampus (2015)
100812     610   135803     3.5                Five Element Ninjas (1982)
100813     610   135815     4.0           The Magnificent Ruffians (1979)
100814     610   138610     1.5                        The Gallows (2015)
100815     610   138632     5.0                        Tokyo Tribe (2014)
100816     610   139511     3.0              Exte: Hair Extensions (2007)
100817     610   139655     3.0  Goodnight Mommy (Ich seh ich seh) (2014)
100818     610   140267     4.0                          The Witch (2015)
100819     610   141400     4.0                 Invincible Shaolin (1978)
100820     610   141799     3.5                            Cooties (2015)
100821     610   142366     3.0                    Cigarette Burns (2005)
100822     610   142598     4.0                         Last Shift (2014)
100823     610   145951     0.5        Bloodsport: The Dark Kumite (1999)
100824     610   146309     4.0              The Boy and the Beast (2015)
100825     610   147657     4.0                    Masked Avengers (1981)
100826     610   147662     3.0  Return of the One-Armed Swordsman (1969)
100827     610   148166     3.5                 Hitchcock/Truffaut (2015)
100828     610   149011     3.5                      He Never Died (2015)
100829     610   152372     3.5                         Southbound (2016)
100830     610   158721     3.5                         Gen-X Cops (1999)
100831     610   160341     2.5                          Bloodmoon (1997)
100832     610   160527     4.5          Sympathy for the Underdog (1971)
100833     610   160836     3.0                             Hazard (2005)
100834     610   163937     3.5                        Blair Witch (2016)
100835     610   163981     3.5                                 31 (2016)

[100836 rows x 4 columns]

In [16]:
combine_movie_rating = df.dropna(axis = 0, subset = ['title'])
movie_ratingCount = (combine_movie_rating.
                    groupby(by = ['title'])['rating'].
                    count().
                    reset_index().
                    rename(columns = {'rating': 'totalRatingCount'})
                    [['title', 'totalRatingCount']]
                     )
movie_ratingCount

                                                  title  totalRatingCount
0                                            '71 (2014)                 1
1               'Hellboy': The Seeds of Creation (2004)                 1
2                                'Round Midnight (1986)                 2
3                                   'Salem's Lot (2004)                 1
4                             'Til There Was You (1997)                 2
5                       'Tis the Season for Love (2015)                 1
6                                    'burbs, The (1989)                17
7                                  'night Mother (1986)                 1
8                           (500) Days of Summer (2009)                42
9                        *batteries not included (1987)                 7
10                            ...All the Marbles (1981)                 1
11                        ...And Justice for All (1979)                 3
12          00 Schneider - Jagd auf Nihil Baxter (1994)                 1
13                                    1-900 (06) (1994)                 1
14                                            10 (1979)                 4
15                                10 Cent Pistol (2015)                 2
16                           10 Cloverfield Lane (2016)                14
17                              10 Items or Less (2006)                 3
18                    10 Things I Hate About You (1999)                54
19                                      10 Years (2011)                 1
20                                     10,000 BC (2008)                17
21                                     100 Girls (2000)                 4
22                                   100 Streets (2016)                 1
23                                101 Dalmatians (1996)                47
24    101 Dalmatians (One Hundred and One Dalmatians...                44
25    101 Dalmatians II: Patch's London Adventure (2...                 1
26                 101 Reykjavik (101 Reykjavík) (2000)                 1
27                                102 Dalmatians (2000)                 9
28                                   10th & Wolf (2006)                 1
29                             10th Kingdom, The (2000)                 2
...                                                 ...               ...
9689                            Zero Dark Thirty (2012)                14
9690                                 Zero Effect (1998)                15
9691                           Zero Theorem, The (2013)                 3
9692  Zero de conduite (Zero for Conduct) (Zéro de c...                 1
9693                            Zeus and Roxanne (1997)                 1
9694                                      Zipper (2015)                 1
9695                                      Zodiac (2007)                38
9696                                  Zombeavers (2014)                 2
9697  Zombie (a.k.a. Zombie 2: The Dead Are Among Us...                 2
9698                           Zombie Strippers! (2008)                 1
9699                                  Zombieland (2009)                53
9700                                     Zone 39 (1997)                 1
9701                         Zone, The (La Zona) (2007)                 2
9702                                   Zookeeper (2011)                 4
9703                                   Zoolander (2001)                54
9704                                 Zoolander 2 (2016)                 3
9705                                        Zoom (2006)                 1
9706                                        Zoom (2015)                 1
9707                                    Zootopia (2016)                32
9708                                        Zulu (1964)                 4
9709                                        Zulu (2013)                 1
9710                                       [REC] (2007)                 8
9711                                      [REC]² (2009)                 3
9712                            [REC]³ 3 Génesis (2012)                 2
9713  anohana: The Flower We Saw That Day - The Movi...                 1
9714                                    eXistenZ (1999)                22
9715                                         xXx (2002)                24
9716                     xXx: State of the Union (2005)                 5
9717                              ¡Three Amigos! (1986)                26
9718          À nous la liberté (Freedom for Us) (1931)                 1

[9719 rows x 2 columns]

In [18]:

rating_with_totalRatingCount = combine_movie_rating.merge(movie_ratingCount, left_on = 'title', right_on = 'title', how = 'left')
rating_with_totalRatingCount.head()

   userId  movieId  rating             title  totalRatingCount
0       1        1     4.0  Toy Story (1995)               215
1       5        1     4.0  Toy Story (1995)               215
2       7        1     4.5  Toy Story (1995)               215
3      15        1     2.5  Toy Story (1995)               215
4      17        1     4.5  Toy Story (1995)               215

In [19]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(movie_ratingCount['totalRatingCount'].describe())

count   9719.000
mean      10.375
std       22.406
min        1.000
25%        1.000
50%        3.000
75%        9.000
max      329.000
Name: totalRatingCount, dtype: float64

In [20]:
popularity_threshold = 50
rating_popular_movie= rating_with_totalRatingCount.query('totalRatingCount >= @popularity_threshold')
rating_popular_movie.head()

   userId  movieId  rating             title  totalRatingCount
0       1        1   4.000  Toy Story (1995)               215
1       5        1   4.000  Toy Story (1995)               215
2       7        1   4.500  Toy Story (1995)               215
3      15        1   2.500  Toy Story (1995)               215
4      17        1   4.500  Toy Story (1995)               215

In [23]:
rating_popular_movie.shape

(41362, 5)

In [25]:
## First lets create a Pivot matrix

movie_features_df=rating_popular_movie.pivot_table(index='title',columns='userId',values='rating').fillna(0)
movie_features_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You (1999),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,3.000,0.000,5.000,0.000,0.000,0.000,0.000,0.000
12 Angry Men (1957),0.000,0.000,0.000,5.000,0.000,0.000,0.000,0.000,0.000,0.000,...,5.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2001: A Space Odyssey (1968),0.000,0.000,0.000,0.000,0.000,0.000,4.000,0.000,0.000,0.000,...,0.000,0.000,5.000,0.000,0.000,5.000,0.000,3.000,0.000,4.500
28 Days Later (2002),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.500,0.000,5.000
300 (2007),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000,...,0.000,0.000,0.000,0.000,3.000,0.000,0.000,5.000,0.000,4.000

In [29]:
from scipy.sparse import csr_matrix

movie_features_df_matrix = csr_matrix(movie_features_df.values)

from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric = 'cosine', algorithm= 'brute')
model_knn.fit(movie_features_df_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [31]:
movie_features_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You (1999),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,3.000,0.000,5.000,0.000,0.000,0.000,0.000,0.000
12 Angry Men (1957),0.000,0.000,0.000,5.000,0.000,0.000,0.000,0.000,0.000,0.000,...,5.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2001: A Space Odyssey (1968),0.000,0.000,0.000,0.000,0.000,0.000,4.000,0.000,0.000,0.000,...,0.000,0.000,5.000,0.000,0.000,5.000,0.000,3.000,0.000,4.500
28 Days Later (2002),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.500,0.000,5.000
300 (2007),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000,...,0.000,0.000,0.000,0.000,3.000,0.000,0.000,5.000,0.000,4.000

In [34]:
query_index = np.random.choice(movie_features_df.shape[0])
print(query_index)
distances, indices = model_knn.kneighbors(movie_features_df.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)

48

In [36]:
movie_features_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You (1999),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,3.000,0.000,5.000,0.000,0.000,0.000,0.000,0.000
12 Angry Men (1957),0.000,0.000,0.000,5.000,0.000,0.000,0.000,0.000,0.000,0.000,...,5.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2001: A Space Odyssey (1968),0.000,0.000,0.000,0.000,0.000,0.000,4.000,0.000,0.000,0.000,...,0.000,0.000,5.000,0.000,0.000,5.000,0.000,3.000,0.000,4.500
28 Days Later (2002),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.500,0.000,5.000
300 (2007),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000,...,0.000,0.000,0.000,0.000,3.000,0.000,0.000,5.000,0.000,4.000

In [38]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(movie_features_df.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, movie_features_df.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Beauty and the Beast (1991):

1: Aladdin (1992), with distance of 0.2529442310333252:
2: Lion King, The (1994), with distance of 0.29163873195648193:
3: Snow White and the Seven Dwarfs (1937), with distance of 0.41553938388824463:
4: Mrs. Doubtfire (1993), with distance of 0.42338424921035767:
5: Jurassic Park (1993), with distance of 0.4425750970840454: